@font-face {
    font-family: 'zarathustra';
    src: url('fonts/zarathustra-v01.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --cor-destaque: #8B0000; 
  --cor-texto: #F5F5F5;  
  --cor-fundo-card: #121212; 
}

body {
    background-color: #1F2631;
    font-family: 'zarathustra', sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.box {
    background-color: var(--cor-fundo-card);
    width: 90%;
    max-width: 540px;

    height: 420px;
    
    padding: 2rem 2.5rem 4rem 2.5rem; 
    border-radius: 1rem;
    position: relative;
    text-align: center;
    color: var(--cor-texto);
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(rgba(18, 18, 18, 0.9), rgba(18, 18, 18, 0.95)), 
                      url('images/frederich-nietzsche.png');
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(139, 0, 0, 0.2);
    
}

#advice-id {
    color: var(--cor-destaque);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 1.5rem;
    margin-top: 0;
}



.quote-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#quote-text {
    width: 100%;
    margin: auto 0;
    font-weight: normal;
    font-style: 'zarathustra', sans-serif;
    line-height: 1.4;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-out;
    padding: 0 10px; 

    font-size: clamp(1.2rem, 3vw, 1.5rem); 
    text-align: center;
}

.quote-wrapper::-webkit-scrollbar {
    width: 6px;
}

.quote-wrapper::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
}

.quote-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque); 
    border-radius: 10px;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.divider {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    opacity: 0.5;
}

#get-advice-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-destaque);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#get-advice-btn:hover {
    box-shadow: 0 0 25px var(--cor-destaque);
    transform: translateX(-50%) scale(1.1);
}

#get-advice-btn img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 600px) {
.box {
        padding: 2rem 1.5rem 3.5rem 1.5rem; 
        width: 85%;
    }

    #advice-id {
        font-size: 10px;
        letter-spacing: 2px;
    }


    #get-advice-btn {
        width: 65px;
        height: 65px;
        bottom: -32.5px; 
    }

    
}
